<div class="container mx-auto p-8">
  <div *ngIf="user(); else loading" class="bg-white p-8 rounded-xl shadow-lg max-w-lg mx-auto">
    <div class="space-y-4">
        <p class="text-gray-600">
            <span class="font-semibold text-gray-800">Nombre de usuario:</span> {{ user()!.name }}
        </p>
        <p class="text-gray-600">
            <span class="font-semibold text-gray-800">Permisos:</span> {{ user()!.profile.permissions }}
        </p>
        <p class="text-gray-600">
            <span class="font-semibold text-gray-800">Email:</span> {{ user()!.email }}
        </p>
        <p class="text-gray-600">
            <span class="font-semibold text-gray-800">Fecha de Creación:</span> {{ user()!.created_at | date: 'longDate' }}
        </p>
        <p class="text-gray-600">
            <span class="font-semibold text-gray-800">Última Actualización:</span> {{ user()!.updated_at | date: 'dd/MM/yy hh:mm:ss' }}
        </p>
    </div>
    <button (click)="goBack()" class="mt-8 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full transition-colors duration-200">
      Volver a la lista
    </button>
  </div>
  <ng-template #loading>
    <div class="text-center text-gray-500">Cargando usuario...</div>
  </ng-template>
</div>
